<div class="list-of-contents">
  <h2 class="title">Contents</h2>
  <ul>
    <li><a href="#preprocessor_directives">Preprocessor Directives</a></li>
    <li><a href="#header_files">Header / Library Files</a></li>
    <li><a href="#identifier">Identifier</a></li>
    <li><a href="#keywords">Keywords / Reserved Words</a></li>
    <li><a href="#variables">Variables</a></li>
    <li><a href="#constants">Constants</a></li>
    <li><a href="#data_types">Data Types</a></li>
    <li><a href="#characters">Characters</a></li>
    <li><a href="#strings">Strings</a></li>
    <li><a href="#overflow">Overflow</a></li>
    <li><a href="#underflow">Underflow</a></li>
    <li><a href="#assignment_operator">Assignment Operator</a></li>
    <li><a href="#arithmetic_operator">Arithmetic Operator</a></li>
    <li><a href="#relational_operator">Relational Operator</a></li>
    <li><a href="#logical_operator">Logical Operators</a></li>
    <li><a href="#increment_decrement">Increment / Decrement Operator</a></li>
    <li><a href="#compound_assignment_operator">Compound Assignment Operator</a></li>
    <li><a href="#statement_terminator">Statement Terminator</a></li>
    <li><a href="#expressions">Expressions</a></li>
    <li><a href="#comments">Comments</a></li>
    <li><a href="#type_casting">Type Casting</a></li>
    <li><a href="#inputs">Input</a></li>
    <li><a href="#output">Output</a></li>
    <li><a href="#clear_screen">Clearing Screen</a></li>
    <li><a href="#format_specifier">Format Specifier</a></li>
    <li><a href="#precision">Precision</a></li>
    <li><a href="#field_width_specifier">Field Width Specifier</a></li>
    <li><a href="#ascii">ASCII Table</a></li>
    <li><a href="#escape_sequences">Escape Sequences</a></li>
    <li><a href="#if_else">if else</a></li>
    <li><a href="#switch">Switch</a></li>
    <li><a href="#conditional_operator">conditional_operator</a></li>
    <li><a href="#arrays">Arrays</a></li>
    <li><a href="#while_loop">while Loop</a></li>
    <li><a href="#do_while_loop">do while loop</a></li>
    <li><a href="#for_loop">for Loop</a></li>
    <li><a href="#continue_keyword">continue</a></li>
    <li><a href="#break">break</a></li>
    <li><a href="#goto">goto</a></li>
    <li><a href="#functions">Functions</a></li>
    <li><a href="#file_handling">File Handling / Management</a></li>
    <li><a href="#Projects">Projects</a></li>
  </ul>
</div>
