<div id="preprocessor_directives" class="topic">
  <div class="topic-name mb-4">
    <h2 class="title">Preprocessor Directives:</h2>
  </div>
  <div class="topic-body mt-4">
    <ul>
      <li>
        #include
        <ul>
          <li class="ml-5">#include &lt;stdio.h&gt;</li>
        </ul>
      </li>
      <li>
        #define
        <ul>
          <li class="ml-5">#define PI 3.1415</li>
        </ul>
      </li>
      <li>
        #undef
        <ul>
          <li class="ml-5">#undef PI</li>
        </ul>
      </li>
      <li>
        #pragma
        <ul>
          <li class="ml-5">#pragma startup function_name</li>
          <li class="ml-5">#pragma exit function_name</li>
        </ul>
      </li>
    </ul>
  </div>
</div>
