<%- include('partials/header'); %>
<div class="container">

  <div class="row text-center logo">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h2>C</h2>
      <p class="p1">Guide <span class="by">By</span> Atta Khan</p>
      <p class="p2">Quick Guide <span class="by">By</span> Attaullah Khan</p>
    </div>
  </div>

  <hr class="logo-horizontal-rule">

<%- include('mat/c/content-list'); %>

  <hr class="mt-5 mb-5">

<%- include('mat/c/preprocessor-directives'); %>

</div> <!-- Container Div -->
<%- include('partials/footer'); %>
